@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@700&display=swap');

* {
    font-family: 'Sunflower', sans-serif;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.input-group-text {
	width: 120px;
	justify-content: center;
}